.center-container
  %h1
    = @designer.name
  %p 
    = @designer.bio

.container
  - @designer.collections.each do |collection|
    %p.thumbnail
      = link_to "#{collection.name}", collection_path(collection)
