/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  font-family: 'Playfair Display', serif;
  margin: 0px;
  position: relative;
}

.site {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.site-content {
  -webkit-flex: 1;
}

.header {
  background-color: #e0f5ee;
  border-style: solid;`
  border-width: 1px;
  border-color: teal;
  border-top-style: none;
}

.container {
  margin-left: 25px;
  margin-right: 15px;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.sidebar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-basis: 15%;
  flex-basis: 15%;
}

.center-container {
  margin-left: 50px;
  margin-right: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.column-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-basis: 15%;
  flex-basis: 15%;
}

.navigation {
  display: -webkit-flex;
  display: flex;
}

.nav-item {
  border-bottom-color: teal;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}

a:hover {
  color: teal;
  letter-spacing: 1px;
}


ul {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  line-height: 20px;
  padding-left: 0px;
}

.sidebar ul {
  line-height: 40px;
  padding-left: 40px;
}

.container.home {
  margin-left: 50px;
  margin-right: 50px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  background-color: #ccfff5;
}

.slideshow {
  width: 80%;
}

.index {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-basis: 70%;
  flex-basis: 70%;
}


.thumbnail {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin: 10px;
  padding: 5px 5px 5px 5px;
  z-index: 10;
  -webkit-flex-basis: 20%;
  flex-basis: 20%;
}

.remove {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.products-new {
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #e0f5ee;
}

form {
  margin-top: 10px;
}

input[type=text] {

}

input[type=submit] {
  color: black;
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 2px;
  width: 125px;
  height: 30px;
  border: none;
  margin: 0;
  padding: 0;
  background: white url(image) 0 0 no-repeat; 
}


