/* background colors */

.red {
  background-color: #ffb3b3;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.teal {
  background-color: #b2dfdb;
}

.blue {
  background-color: #afcdff;
}

.purple {
  background-color: purple;
}

/* text colors */

.red-text {
  color: #ffb3b3;
}

.orange-text {
  color: orange;
}

.yellow-text {
  color: yellow;
}

.green-text {
  color: green;
}

.teal-text {
  color: teal;
}

.blue-text {
  color: #afcdff;
}

.purple-text {
  color: purple;
}


